@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

/************************************************* ROOT SETTINGS  *************************************************/
:root {
  /* Colors */
  --color-black: #000000;
  --color-darkgrey: #aaaaaa;
  --color-lightgrey: #bdbdbd;
  --color-white: #f2f2f2;

  /* Fonts */
  --font: "Rubik", sans-serif;

  /* Measurements */
  --top: 22vh;
  --sticky-top: 10vh;

  /* Swiper */
  --swiper-image-ratio: 100%; /* ratio 16:9 = 56.25% */
  --swiper-width: 30%;
  --swiper-inactive-scale: 8.5; /* makes the other slide smaller */
  --swiper-mobile-width: 90%; /* mobile */
  --swiper-mobile-inactive-scale: 0.95; /* mobile*/

  /* Font-weight */
  --font-300: 300;
  --font-400: 400;
  --font-500: 500;

  /* Font-size */
  --size-1: 1rem;
  --size-2: 2rem;
  --size-3: 3rem;
  --size-4: 4rem;
  --size-8: 8rem;
}
/************************************************* GENERAL SETTINGS  *************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--color-black);
  font-family: var(--font);
  color: var(--color-white);
}
html {
  scroll-behavior: smooth;
}
/************************************************* HEADER *************************************************/
header {
  align-items: center;
  background-color: var(--color-black);
  border-bottom: 1px solid var(--color-white);
  display: flex;
  height: var(--top);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
header.active {
  height: var(--sticky-top);
}
/********** Logo **********/
.logo-container {
  height: 100%;
  position: relative;
  width: 50%;
}
.logo-container .img-container {
  height: 100%;
  margin-left: 10%;
  position: relative;
  width: 25%;
}
.logo-container .img-container img {
  cursor: pointer;
  height: 100%;
  object-fit: contain;
  width: 100%;
}
/********** Nav **********/
.nav-container {
  height: 100%;
  position: relative;
  width: 50%;
}
.nav {
  align-items: center;
  display: flex;
  float: right;
  height: 100%;
  position: relative;
  width: 70%;
}
.nav-container ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  position: relative;
  width: 100%;
}
.nav-container ul li {
  cursor: pointer;
  list-style: none;
}
.nav-container ul li a {
  font-size: var(--size-2);
  font-weight: var(--font-300);
  text-decoration: none;
}
.nav a,
.btn {
  display: block;
  position: relative;
}
.nav a::after,
.btn::after {
  background-color: var(--color-white);
  bottom: 0;
  content: "";
  height: 0.1rem;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 300ms, transform 300ms;
  width: 100%;
}
.nav a:hover::after,
.nav a:focus::after,
.btn:hover::after,
.btn:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2rem, 0);
}
/************************************************* MAIN *************************************************/
main {
  margin-top: var(--top);
  z-index: 0;
}
/********** Image and Quote **********/
.img-quote-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: transparent;
}
.img-quote-container img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  width: 100%;
}
.text-quote-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.text-quote-container h1 {
  font-size: var(--size-8);
}
.text-quote-container p {
  font-size: var(--size-2);
  font-weight: var(--font-300);
  margin-top: var(--size-1);
  padding: 0 var(--size-4);
}
/********** Main Page Background**********/
.gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(170, 170, 170, 1) 100%
  );
}
/********** About Section **********/
.about-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: var(--size-2);
  text-align: center;
}
.about-container > * + * {
  margin-top: var(--size-2);
}
.about-container h2 {
  font-size: var(--size-4);
  font-weight: var(--font-300);
}
.about-container p,
.about-container ul {
  font-size: var(--size-2);
  font-weight: var(--font-300);
}
.about-container ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
/********** Divider **********/
.div-container {
  padding: 35px 0 35px 0;
  position: relative;
  width: 100%;
}
.divider {
  background: linear-gradient(
      to right,
      transparent,
      transparent,
      var(--color-white),
      var(--color-lightgrey),
      var(--color-darkgrey),
      var(--color-lightgrey),
      var(--color-white),
      transparent,
      transparent
    )
    left bottom transparent no-repeat;
  padding: 1px;
  margin: 0 auto;
  width: 100%;
}
/********** Our Work/Swiper Container **********/
.our-work-swiper-container {
  padding: 0 0 var(--size-4) 0;
}
.our-work {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}
.our-work h2 {
  font-size: var(--size-4);
  font-weight: var(--font-300);
  margin-bottom: var(--size-2);
}
/********** Our Work Swiper **********/
.swiper-container {
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
}
.swiper {
  height: calc(var(--swiper-width) * var(--swiper-image-ratio) / 100%);
  overflow: hidden;
  position: relative;
  width: 100%;
}
.swiper-slide {
  filter: brightness(35%);
  overflow: hidden;
  position: relative;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
  width: var(--swiper-width);
}
.swiper-slide.swiper-slide-active {
  opacity: 1 !important;
  transform: scale(1) !important;
  filter: brightness(100%);
}
.swiper-image {
  padding-top: var(--swiper-image-ratio);
  position: relative;
  width: 100%;
}
.swiper-image .image {
  background-color: transparent;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
/********** Swiper/Slider Buttons **********/
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  height: var(--size-2);
  margin-top: 0;
  padding: var(--size-2);
  width: var(--size-2);
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: var(--color-white);
  font-size: var(--size-2);
}
.swiper-button-next {
  transform: translate(50%, -50%);
  right: calc((100% - var(--swiper-width)) / 2);
}
.swiper-button-prev {
  transform: translate(-50%, -50%);
  left: calc((100% - var(--swiper-width)) / 2);
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 1);
}
/************************************************* FOOTER *************************************************/
#contact {
  display: flex;
  flex-direction: row;
  bottom: 0;
  width: 100%;
  background-color: var(--color-black);
  padding: var(--size-2);
}
/********** Contact Us Section **********/
.contact-us-container {
  display: flex;
  float: left;
  height: auto;
  position: relative;
  width: 20%;
  flex-direction: column;
}
.contact-us-container > * + *,
.info-container > * + * {
  margin-top: var(--size-1);
}
.contact-us-container h2,
.submit-form-container h2 {
  font-size: var(--size-2);
  font-weight: var(--font-300);
}
.contact-us-container p,
.submit-form-container p,
.message-container p {
  font-size: var(--size-1);
  font-weight: var(--font-300);
}
.contact-us-container .strong {
  font-size: var(--size-1);
  font-weight: var(--font-500);
}
.social-medias-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: var(--size-1);
  gap: var(--size-4);
}
.social-medias-container a {
  color: var(--color-white);
  font-size: var(--size-3);
  font-weight: var(--font-300);
}
/********** Submit Form Section **********/
.submit-form-container {
  align-items: center;
  height: auto;
  position: relative;
  width: 80%;
  float: right;
}
.info-message-container {
  float: right;
  width: 60%;
}
.info-message-container form {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: var(--size-1);
}
.info-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.info-container input {
  border: none;
  background-color: transparent;
  color: var(--color-white);
  font-size: var(--size-1);
  width: 100%;
  margin-left: var(--size-1);
  border-bottom: 1px solid var(--color-white);
  padding: 0.2rem;
  font-weight: var(--font-500);
  margin-top: 0.4rem;
}
.info-container input:focus {
  outline: none;
}
.info-container input.error {
  border-bottom: 1px solid red;
}
.info-container input::placeholder,
.message-container textarea::placeholder {
  opacity: 0.5;
}
.message-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  width: auto;
  margin-left: var(--size-3);
}
.message-container textarea {
  resize: none;
  margin-top: 0.8rem;
  border: var(--color-white) 1px solid;
  color: var(--color-white);
  font-size: var(--size-1);
  font-family: var(--font);
  background-color: transparent;
  padding: 0.5rem;
}
.message-container textarea:focus {
  outline: none;
}
.message-container textarea.error {
  border: 1px solid red;
}
.btn-container {
  display: flex;
  width: 100%;
  margin-top: var(--size-1);
  align-items: center;
  justify-content: flex-end;
}
.btn-container .btn {
  cursor: pointer;
  font-size: var(--size-1);
  background: transparent;
  color: var(--color-white);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/********** Success Message **********/
#snackbar {
  visibility: hidden;
  min-width: var(--size-4);
  margin-left: -145px;
  background-color: #24fe41;
  color: var(--color-white);
  text-align: center;
  padding: var(--size-2);
  position: fixed;
  z-index: 3;
  left: 50%;
  top: var(--size-2);
  font-size: var(--size-1);
  font-weight: var(--font-500);
}
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
