@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

/************************************************* ROOT SETTINGS  *************************************************/
:root {
  /* Colors */
  --color-black: #000000;
  --color-white: #ffffff;

  /* Header height */
  --top: 22vh;
  --sticky-top: 10vh;
  --top-phone-tablet: 12vh;
  --sticky-top-phone-tablet: 6vh;

  /* Font-weight */
  --font300: 300;
  --font500: 500;

  /* Swiper */
  --swiper-image-ratio: 100%;
  --swiper-width: 40%;
  --swiper-inactive-scale: 8.5;
}
/************************************************* GENERAL SETTINGS  *************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}
/************************************************* HEADER *************************************************/
header {
  background-color: var(--color-black);
  border-bottom: 1px solid var(--color-white);
  display: flex;
  height: var(--top);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
header.active,
.header-contact-us {
  height: var(--sticky-top);
}
/********** Logo **********/
.logo-container {
  display: flex;
  flex: 1;
  position: relative;
}
.logo-container .img-container {
  flex-basis: 100%;
  height: 100%;
  padding: 0.5rem;
  width: 100%;
}
.logo-container .img-container img {
  cursor: pointer;
  height: 100%;
  object-fit: contain;
  width: 100%;
}
/********** Nav **********/
.nav-container {
  display: flex;
  flex: 5;
  justify-content: flex-end;
  position: relative;
}
.nav {
  align-items: center;
  display: flex;
  flex-basis: 50%;
  height: 100%;
}
.nav ul {
  display: flex;
  flex-basis: 100%;
  justify-content: space-evenly;
  list-style: none;
}
.nav ul li a {
  cursor: pointer;
  display: block;
  font-size: 2rem;
  font-weight: var(--font500);
  list-style: none;
  position: relative;
  text-decoration: none;
}
.nav ul li a::after {
  background-color: var(--color-white);
  bottom: 0;
  content: "";
  height: 0.1rem;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s, transform 0.3s;
  width: 100%;
}
.nav a:hover::after,
.nav a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.1rem, 0);
}
/************************************************* MAIN *************************************************/
main {
  margin-top: var(--top);
}
/********** Image and Quote **********/
.img-quote-container {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
}
.img-quote-container img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  opacity: 0.3;
  width: 800px;
}
.text-quote-container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.text-quote-container h1 {
  font-size: 10rem;
}
.text-quote-container p {
  font-size: 2rem;
  font-weight: var(--font300);
  padding: 2rem;
}
/********** Main Page Background **********/
.gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
/********** About Section **********/
.about-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 5rem 0 5rem;
  text-align: center;
  width: 100%;
}
.about-container > * + * {
  margin-top: 1rem;
}
.about-container h2 {
  font-size: 4rem;
  font-weight: var(--font300);
}
.about-container p,
.about-container ul {
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: var(--font300);
}
.about-container ul {
  column-count: 2;
  column-gap: 8rem;
}
.about-container ul li {
  display: list-item;
  list-style: circle;
  padding: 0.5rem;
}
/********** Our Work **********/
.our-work-swiper-container {
  padding-bottom: 2rem;
}
.our-work-swiper-container .our-work-title {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
}
.our-work-swiper-container h2 {
  font-size: 4rem;
  font-weight: var(--font300);
}
.our-work-swiper-container .swiper-container p {
  font-size: 2rem;
  font-weight: var(--font500);
  padding: 2rem 0 0 2rem;
}
/********** Swiper **********/
.swiper-container {
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
}
.swiper {
  height: calc(var(--swiper-width) * var(--swiper-image-ratio) / 100%);
  overflow: hidden;
  position: relative;
  width: 100%;
}
.swiper-slide {
  cursor: pointer;
  filter: brightness(35%);
  overflow: hidden;
  position: relative;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
  width: var(--swiper-width);
}
.swiper-slide.swiper-slide-active {
  filter: brightness(100%);
  opacity: 1 !important;
  transform: scale(1) !important;
}
.swiper-image {
  padding-top: var(--swiper-image-ratio);
  position: relative;
  width: 100%;
}
.swiper-image .image {
  background-color: transparent;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
/************************************************* FOOTER *************************************************/
footer {
  background-color: var(--color-black);
  bottom: 0;
  display: flex;
  position: relative;
  width: 100%;
}
footer h2 {
  font-size: 2rem;
  font-weight: var(--font500);
  position: absolute;
  top: 1rem;
}
footer p {
  font-size: 1.5rem;
  font-weight: var(--font300);
}
.contact-us-container,
.follow-us-container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
/********** Contact Us Section **********/
.contact-us {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 3.5rem 0 2rem 0;
  position: relative;
}
.contact-us-container .strong {
  font-weight: var(--font500);
}
.call-email {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}
#email,
#phone {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#email:hover,
#phone:hover {
  transform: scale(1.1);
}
/********** Follow Us Section **********/
.follow-us-container {
  display: flex;
}
.follow-us {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.social-medias-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
  margin-top: 2rem;
}
.social-medias-container a {
  color: var(--color-white);
  font-size: 5rem;
  transition: all 0.3s ease-in-out;
}
.social-medias-container a:hover {
  transform: scale(1.1);
}
/************************************************* CONTACT US FORM *************************************************/
.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}
.form-container form {
  width: 80%;
}
.individual-info p,
.message-container p {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: var(--font500);
}
/********** Inputs **********/
.individual-info {
  margin-bottom: 0.5rem;
}
form .input {
  border: none;
  display: flex;
  flex-direction: column;
}
form .input input {
  background: transparent;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-white);
  color: var(--color-white);
  font-size: 1rem;
  font-weight: var(--font-500);
  padding: 0.25rem 0 0.25rem 0.5rem;
}
.form-container form input:focus {
  outline: none;
}
form input.error {
  border-bottom: 1px solid red;
}
.form-container form .invalid {
  color: red;
  font-size: 1rem;
  font-weight: var(--font300);
  padding-left: 0.5rem;
}
/********** Textarea **********/
.message-container {
  display: flex;
  flex-direction: column;
  width: auto;
}
.textarea-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0 0.5rem 0;
}
.message-container textarea {
  background-color: transparent;
  border: 1px solid var(--color-white);
  border-radius: 0.25rem;
  color: var(--color-white);
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  resize: none;
}
.message-container textarea:focus {
  outline: none;
}
.message-container textarea.error {
  border: 1px solid red;
}
.btn-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
.btn-container button {
  background-color: #24fe41;
  border: none;
  border-radius: 0.25rem;
  color: var(--color-white);
  cursor: pointer;
  flex-basis: 10%;
  font-size: 1.5rem;
  font-weight: var(--font500);
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.btn-container button:hover {
  transform: scale(1.1);
}
/************************************************* DIVIDER *************************************************/
.div-container {
  padding: 1rem 0 1rem 0;
  position: relative;
  width: 100%;
}
.divider {
  background: linear-gradient(
      to right,
      transparent,
      transparent,
      var(--color-white),
      var(--color-white),
      var(--color-white),
      transparent,
      transparent
    )
    left bottom transparent no-repeat;
  margin: 0 auto;
  padding: 1px;
  width: 100%;
}
/************************************************* MESSAGE *************************************************/
#toast {
  background-color: #24fe41;
  bottom: 5rem;
  color: var(--color-white);
  font-size: 1.25rem;
  left: 50%;
  padding: 1.5rem;
  position: fixed;
  text-align: center;
  transform: translate(-50%, -50%);
  visibility: hidden;
  z-index: 3;
}
#toast.show {
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  visibility: visible;
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 5rem;
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    bottom: 5rem;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
/********** Contact Us toast **********/
#toast-sent {
  background-color: #24fe41;
  color: var(--color-white);
  font-size: 1.25rem;
  left: 50%;
  padding: 1.5rem;
  position: fixed;
  text-align: center;
  top: 5rem;
  transform: translate(-50%, -50%);
  visibility: hidden;
  z-index: 3;
}
#toast-sent.show {
  animation: fadein-sent 0.5s, fadeout-sent 0.5s 2.5s;
  visibility: visible;
}
@keyframes fadein-sent {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 5rem;
    opacity: 1;
  }
}
@keyframes fadeout-sent {
  from {
    top: 5rem;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
/********************************************************************** SMARTPHONE MEDIA QUERY **********************************************************************/
@media (min-width: 320px) and (max-width: 480px) {
  html {
    overflow-x: hidden;
  }
  /********** HEADER **********/
  header {
    height: var(--top-phone-tablet);
  }
  header.active {
    height: var(--sticky-top-phone-tablet);
  }
  /********** Logo **********/
  .logo-container {
    flex: 1;
  }
  /********** Nav **********/
  .nav {
    flex-basis: 100%;
  }
  .nav ul li a {
    font-size: 1rem;
  }
  /********** MAIN **********/
  main {
    margin-top: var(--top-phone-tablet);
  }
  /********** Image and Quote **********/
  .img-quote-container img {
    height: auto;
    width: 100%;
  }
  .text-quote-container h1 {
    font-size: 4rem;
  }
  .text-quote-container p {
    font-size: 1rem;
    padding: 0.5rem;
  }
  /********** About Section **********/
  .about-container {
    padding: 0 1.5rem 0 1.5rem;
  }
  .about-container > * + * {
    margin-top: 0.25rem;
  }
  .about-container h2 {
    font-size: 2rem;
  }
  .about-container p,
  .about-container ul {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .about-container ul {
    column-gap: 2rem;
  }
  /********** Our Work **********/
  .our-work-swiper-container h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  .our-work-swiper-container .swiper-container p {
    font-size: 1rem;
    padding: 0.5rem 0 1rem 1rem;
  }
  /********** Swiper **********/
  .swiper-slide {
    width: var(--swiper-width);
  }
  /********** FOOTER **********/
  footer {
    flex-direction: column;
  }
  footer h2 {
    font-size: 1.5rem;
    position: relative;
    top: 0.5rem;
  }
  footer p {
    font-size: 1rem;
  }
  /********** Contact Us Section **********/
  .contact-us {
    margin: 0.5rem 0 0.5rem 0;
  }
  .call-email {
    margin-top: 0.5rem;
  }
  /********** Follow Us Section **********/
  .follow-us-container {
    padding-bottom: 1rem;
  }
  .social-medias-container {
    margin-top: 0.5rem;
  }
  .social-medias-container a {
    font-size: 3rem;
  }
  /********** CONTACT US FROM **********/
  .individual-info p,
  .message-container p {
    font-size: 1rem;
  }
  /********** Textarea **********/
  .btn-container button {
    font-size: 1rem;
  }
  /********** TOAST **********/
  #toast,
  #toast-sent {
    font-size: 1rem;
    padding: 1rem;
  }
}
/********************************************************************** TABLET MEDIA QUERY **********************************************************************/
@media (min-width: 481px) and (max-width: 768px) {
  html {
    overflow-x: hidden;
  }
  /********** HEADER **********/
  header {
    height: var(--top-phone-tablet);
  }
  header.active {
    height: var(--sticky-top-phone-tablet);
  }
  /********** Logo **********/
  .logo-container {
    flex: 1.5;
  }
  /********** Nav **********/
  .nav {
    flex-basis: 100%;
  }
  .nav ul li a {
    font-size: 1.5rem;
  }
  main {
    margin-top: var(--top-phone-tablet);
  }
  /********** Image and Quote **********/
  .img-quote-container img {
    height: auto;
    width: 100%;
  }
  .text-quote-container h1 {
    font-size: 5rem;
  }
  .text-quote-container p {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  /********** About Section **********/
  .about-container {
    padding: 0 1.5rem 0 1.5rem;
  }
  .about-container > * + * {
    margin-top: 0.5rem;
  }
  .about-container h2 {
    font-size: 3rem;
  }
  .about-container p,
  .about-container ul {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .about-container ul {
    column-gap: 2rem;
  }
  /********** Our Work **********/
  .our-work-swiper-container h2 {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  .our-work-swiper-container .swiper-container p {
    font-size: 1.5rem;
    padding: 0.5rem 0 1rem 1rem;
  }
  /********** Swiper **********/
  .swiper-slide {
    width: var(--swiper-width);
  }
  /********** FOOTER **********/
  footer h2 {
    font-size: 1.5rem;
    font-weight: var(--font500);
    position: absolute;
    top: 0.5rem;
  }
  footer p {
    font-size: 1rem;
  }
  .contact-us-container,
  .follow-us-container {
    padding-top: 2rem;
  }
  /********** Contact Us Section **********/
  .contact-us {
    margin: 0.5rem 0 0.5rem 0;
  }
  .call-email {
    margin-top: 0.5rem;
  }
  /********** Follow Us Section **********/
  .follow-us-container {
    padding-bottom: 1rem;
  }
  .social-medias-container {
    margin-top: 1rem;
  }
  .social-medias-container a {
    font-size: 3.5rem;
  }
  /********** CONTACT US FORM **********/
  .individual-info p,
  .message-container p {
    font-size: 1.5rem;
  }
  /********** Input **********/
  form .input input {
    font-size: 1.5rem;
  }
  /********** Textarea **********/
  .message-container textarea {
    font-size: 1.5rem;
  }
  .btn-container button {
    font-size: 1.5rem;
  }
  /********** TOAST **********/
  #toast,
  #toast-sent {
    padding: 1rem;
    font-size: 1rem;
  }
}
/********************************************************************** LAPTOP/DESkTOP MEDIA QUERY **********************************************************************/
@media (min-width: 769px) {
  html {
    overflow-x: hidden;
  }
  /********** Logo **********/
  .logo-container {
    flex: 2;
  }
  /********** Nav **********/
  .nav {
    flex-basis: 100%;
  }
  /********** Swiper **********/
  .our-work-swiper-container .swiper-container p {
    padding: 2rem 0 1rem 2rem;
  }
  /********** CONTACT US FORM **********/
  .individual-info p,
  .message-container p {
    font-size: 1.5rem;
  }
  /********** Input **********/
  form .input input {
    font-size: 1.5rem;
  }
  /********** Textarea **********/
  .message-container textarea {
    font-size: 1.5rem;
  }
  .btn-container button {
    font-size: 1.5rem;
  }
}
