@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

:root {
  /* Colors */
  --color-black: #000000;
  --color-white: #f2f2f2;
  --color-lightgrey: #bdbdbd;
  --color-darkgrey: #aaaaaa;

  /* Fonts */
  --font: "Rubik", sans-serif;

  /* Measurements */
  --top: 22vh;

  /* Swiper */
  --swiper-image-ratio: 75%; /* ratio 16:9 = 56.25% */
  --swiper-width: 50%;
  --swiper-inactive-scale: 0.85; /* makes the other slide smaller */
  --swiper-mobile-width: 90%; /* mobile */
  --swiper-mobile-inactive-scale: 0.95; /* mobile*/
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-lightgrey);
  font-family: var(--font);
}
/********************************** HEADER **********************************/
header {
  align-items: center;
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  height: var(--top);
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}
header.active {
  height: 15vh;
}
/********** Logo **********/
.logo-container {
  height: 100%;
  position: relative;
  width: 50%;
}
.logo-container .img-container {
  height: 100%;
  width: 25%;
  position: relative;
  margin-left: 10%;
}
.logo-container .img-container img {
  cursor: pointer;
  object-fit: contain;
  height: 100%;
  width: 100%;
}
/********** Nav **********/
.nav-container {
  height: 100%;
  position: relative;
  width: 50%;
}
.nav {
  align-items: center;
  display: flex;
  float: right;
  height: 100%;
  position: relative;
  width: 70%;
}
.nav-container ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  position: relative;
  width: 100%;
}
.nav-container ul li {
  list-style: none;
}
.nav-container ul li a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 500;
}
a {
  display: block;
  position: relative;
}
a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--color-white);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
a:hover::after,
a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
/********************************** MAIN **********************************/
main {
  margin-top: var(--top);
  z-index: -1;
}
/********** Wallpaper **********/
.wallpaper-container {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
}
.wallpaper-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
}
.wallpaper-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border: 1px solid white;
}
.wallpaper-container img {
  opacity: 0.4;
}
.wallpaper-container h1 {
  font-size: 7rem;
  font-weight: 600;
}
/********** Swiper/Slider **********/
.swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 5px solid red;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.swiper {
  position: relative;
  width: 100%;
  height: calc(var(--swiper-width) * var(--swiper-image-ratio) / 100%);
  overflow: hidden;
}
.swiper-slide {
  position: relative;
  width: var(--swiper-width);
  opacity: 0.5;
  transform: scale(0.84);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 0.4285rem;
}
.swiper-backface-hidden .swiper-slide {
  transform: scale(0.84) translateZ(0);
}
.swiper-slide.swiper-slide-active {
  transform: scale(1) !important;
  opacity: 1 !important;
}
.swiper-backface-hidden .swiper-slide.swiper-slide-active {
  transform: scale(1) translateZ(0) !important;
}
.swiper-image {
  position: relative;
  width: 100%;
  padding-top: var(--swiper-image-ratio);
}
.swiper-image .image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* responsive settings */
/* --swiper-mobile-width: 90%;
  --swiper-mobile-inactive-scale: 0.95; */
/* @media only screen and (max-width: 768px) {
  .swiper {
    height: calc(var(--swiper-mobile-width) * var(--swiper-image-ratio) / 100%);
  }

  .swiper-slide {
    width: var(--swiper-mobile-width);
    transform: scale(var(--swiper-mobile-inactive-scale));
  }

  .swiper-backface-hidden .swiper-slide.swiper-slide {
    transform: scale(var(--swiper-mobile-inactive-scale)) translateZ(0);
  }

  .swiper-button-next {
    right: calc((100% - var(--swiper-mobile-width)) / 2);
  }

  .swiper-button-prev {
    left: calc((100% - var(--swiper-mobile-width)) / 2);
  }
} */
